name: alrev-intl-package

on:
  push:
    branches: [ master ]
    tags: [ '*Alrev.*' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setting payload as steps variables
        id: get-payload
        uses: actions/github-script@0.9.0
        with:
          script: |
            const matches = context.payload.ref.match(/([^/\d]+)\.(\d.+)/)
            core.setOutput('ref', context.payload.ref)
            core.setOutput('package', matches[0])
            core.setOutput('project', matches[1])
            core.setOutput('version', matches[2])
            core.setOutput('owner', context.payload.repository.owner.name)
      - uses: actions/checkout@v2
        with:
          ref: ${{steps.get-payload.outputs.ref}}
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dotnet tool
        run: dotnet tool restore
      - name: Patch DNT
        run: cp -TRv ./.vendors/dnt/ ../../../.nuget/packages/dnt/1.6.2/tools/net5.0/any/
      - name: Switch to packages
        run: dotnet tool run dnt switch-to-packages
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --configuration Release --no-restore --no-build /p:CollectCoverage=false
      - name: Pack Nuget package
        run: dotnet pack --no-restore --no-build --configuration Release --output ./packages ./packages/${{steps.get-payload.outputs.project}}/${{steps.get-payload.outputs.project}}.csproj
      - name: Push Nuget package
        run: dotnet nuget push ./packages/${{steps.get-payload.outputs.package}}.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{secrets.NUGET_API_KEY}} 
      - name: Push Github package
        uses: tanaka-takayoshi/nuget-publish-to-github-packages-action@v2.1
        with:
         nupkg-path: ./packages/${{steps.get-payload.outputs.package}}.nupkg
         repo-owner: ${{steps.get-payload.outputs.owner}}
         gh-user: ${{steps.get-payload.outputs.owner}}
         token: ${{secrets.GITHUB_TOKEN}}
      - name: Create Github dynamic badge
        uses: schneegans/dynamic-badges-action@v1.0.0
        with:
          auth: ${{secrets.GIST_TOKEN}}
          gistID: 3151ce8c36600206670a562dab4c3bf7
          filename: ${{steps.get-payload.outputs.package}}.json
          label: github
          message: v${{steps.get-payload.outputs.version}}
          color: blue
      - name: Upload nupkg as artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{steps.get-payload.outputs.package}}
          path: ./packages/${{steps.get-payload.outputs.package}}*