name: alrev-intl-abstractions

on:
  push:
    tags: [ '*Alrev.Intl.Abstractions*' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Tag name
        id: tag_name
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - uses: actions/checkout@v2
        with:
          ref: ${{ steps.tag_name.outputs.VERSION }}
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Build
        run: dotnet build --no-restore --configuration Release ./packages/Alrev.Intl.Abstractions/Alrev.Intl.Abstractions.csproj
      - name: Pack
        run: dotnet pack --no-restore --no-build --configuration Release --output ./packages ./packages/Alrev.Intl.Abstractions/Alrev.Intl.Abstractions.csproj
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.tag_name.outputs.VERSION }}.nupkg
          path: ./packages/${{ steps.tag_name.outputs.VERSION }}.nupkg 
