name: build-master

on:
  push:
    branches: [ master ]
    paths: [ "packages/**", "tests/**", "!**/*.md" ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dotnet tool
        run: dotnet tool restore
      - name: Patch DNT
        run: cp -TRv ./.vendors/dnt/ ../../../.nuget/packages/dnt/1.6.2/tools/net5.0/any/
      - name: Switch to packages
        run: dotnet tool run dnt switch-to-packages
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --configuration Release --no-restore --no-build /p:CollectCoverage=true /p:CoverletOutputFormat="opencover"
      - name: Aggregate net5.0 coverage
        run: dotnet tool run reportgenerator "-reports:tests/**/*.net5.0.opencover.xml" "-targetdir:.coverage/net50" "-reporttypes:Html;lcov"
      - name: Aggregate netcoreapp3.1 coverage
        run: dotnet tool run reportgenerator "-reports:tests/**/*.netcoreapp3.1.opencover.xml" "-targetdir:.coverage/netcoreapp31" "-reporttypes:Html;lcov"
      - name: Publish net5.0 coverage report to Coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./.coverage/net50/lcov.info 